* {
margin:0;
padding:0;
}
#columna1 {
position:absolute;
top:100px;
left:5px;
width:400px;
margin-top:10px;
background-color:#ffffff;
}

#columna2 {
 
top:0px;
margin-left:350px;
margin-right:20px;
margin-top:0px;
background-color:#ffffff;
}
