@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  .header{
    background-color:rgb(52, 88, 186);
    color: #fff7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    padding: 0px;
  }

  .logo{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 6px 2%;
  }

  .logo img{
    width: 3%;
    height: auto; 
  }
 
/* añadir un cambio para dispositivos móviles */
@media (max-width: 600px){
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 6px 2%;
  }

  .logo img{
    width: 15%;
    height: auto; 
  }
  .cabecera{
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 11px;
  }
}
/* fin del mediaquerey para móviles */

  .cabecera{
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .header .nav-links{
    list-style: none;
  }

  .header .nav-links a{
    display: inline-block;
    padding: 0 10px;
    font-size: 22px;
    color: antiquewhite;
    text-decoration: none;
    cursor: pointer;
  }

  .header .nav-links a:hover{
    transform: scale(1.1);
    /* color: #ffbc0e; */
    color: #ffffff;
    
  }

 .footer{
    background-color:rgb(52, 88, 186);
    color: #fff7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: auto;
 }

 .piepagina{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .fuentenav1 {
  font-family: "SVG_Trade_Gothic_XBold";
  font-size: 30px;
  line-height: 33px;}
  
  .fuentenav2 {
    font-family: "Ernest&Emily";
    font-size: 20px;
    line-height: 33px;
    color: #00ffff;
  }

   
  .flex-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
  }
  /* About */
  .arquitectura {
    width: 90%;
    margin: 1%;
}
.item-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.image {
    width: 100%;
    margin: 2%;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    width: 50%;
}
.text-container {
    width: 100%;
    margin-left: 2%;
}
.control-group {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.custom-button {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px;
}
.custom-button-A {
    background-color: blue;
}
.custom-button-B {
    background-color: rgb(155, 93, 141);
}
.custom-button-C {
    background-color: #198754;
}
.custom-button-E {
    background-color: #DA9D19;
}
.custom-button-D {
    background-color: #9b0e0ed0;
}
.pulse-primary {
    animation: pulse 2s infinite;
}
.pulse-danger{
  animation: pulse 2s infinite;
}
.pulse-info{
  animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

        @media screen and (max-width: 600px){
          .flex-row {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .image-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-right: 20px;
          width: 100%;
        }

        }

.content {
    margin: 0 auto;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    max-width: 70%;
    overflow-x: visible;
}
.lineaSeparadora {
    width: 100%;
    padding: 2%;
}

.cajatabla{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  justify-self: center;
  width: 100%;
  margin-left: 10%;
}

.custom-table-container {
    overflow-x: auto;
    justify-content: center;
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
  
}
.custom-table th,
.custom-table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
}
.bg-color-gray {
    background-color: #F2F2F2;
}
.bg-color-light-gray {
    background-color: #FAFAFA;
}
.text-center {
    text-align: center;
}
.add-top-margin {
    margin-top: 20px;
}
.add-top-margin-small {
    margin-top: 10px;
}
.max-width-400 {
    max-width: 400px;
}
.text {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.5;
}
.graph-title {
    font-weight: bold;
}
.fotoDiego {
    display: flex;
    justify-content: center;
}

  .flex-column1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    box-sizing: border-box;
  }
  .flex-column2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }

  .text{
   width: 100%;
   margin-top: 1%;
   text-align: justify;
  }

  .text a{
    text-decoration: none;
  }

  .textWorkflow {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .textWorkflow p {
    font-weight: bold;
  }

  .content {
    margin: 0 auto;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    max-width: 70%;
    overflow-x:visible;
  }

  
  .lineaSeparadora{
    width: 100%;
  }
  
  .home{
    float: left;
    justify-content: center;
    width: 30%;
    margin: 0.5% 5% 5% 0;
  }

  .ministerio{
    float: right;
    width: 15%;
    margin-bottom: 1%;
    display: flex;
    justify-self: center ;
  }

  .indexinfo{ 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
  }
  .indexinfo h3{
    margin-top: 1%;
  }
  .indexinfo ul{
    margin: 1% 0 2% 5%;
    max-width: 75%;
  }

  .section {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tab {
    background: linear-gradient(135deg, #95cad2 10%, #7ba3e3 100%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
}

.tab input {
    display: none;
}

.tab label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tab label h2 {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}

.tab label h3 {
    flex-grow: 1;
    font-size: 1.5em;
    color: #333;
}

.tab-content-grid {
    display: none;
    margin-top: 20px;
}

.tab input:checked ~ .tab-content-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.title-card, .img-card, .main-card, .credit-card {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.title-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn.green { background-color: #4caf50; }
.btn.yellow { background-color: #ffeb3b; color: #000; }
.btn.orange { background-color: #ff9800; }
.btn.red { background-color: #f44336; }

@media (min-width: 886px) {
    .tab-content-grid {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
            "title-card title-card"
            "img-card main-card"
            "credit-card credit-card";
    }

    .title-card { grid-area: title-card; }
    .img-card { grid-area: img-card; }
    .main-card { grid-area: main-card; }
    .credit-card { grid-area: credit-card; }
}
@media screen and (max-width: 800px) {
  .section {
    max-width: 90%; /* Cambiar el ancho máximo del section al 90% */
    padding-right: 10px; /* Ajustar el padding derecho para compensar el cambio de ancho */
    padding-left: 10px; /* Ajustar el padding izquierdo para compensar el cambio de ancho */
  }

  /* Modificar la estructura de los "tab" para que se distribuyan en una única columna */
  .tab-content-grid {
    grid-template:
      "title-card"
      "img-card"
      "main-card"
      "credit-card";
  }

  /* Ajustar el tamaño de fuente y otros estilos para que se adapten al tamaño de pantalla más pequeño */
  .section label h3,
  .section .tab-content-grid p {
    font-size: 14px; /* Cambiar el tamaño de fuente a 14px para pantallas más pequeñas */
  }

  /* Ajustar el ancho de los "tab" para ocupar el 95% del ancho del body */
  .section .tab {
    width: 95%; /* Ocupar el 95% del ancho del body */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
  }



}