
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
.menu-container{
    display: flex;
    flex-wrap:wrap;
    align-content:end;
    justify-content: center;
    width: 100%;
    
}
/* REVISAAAAR */
.footer{
    background-color:rgb(52, 88, 186);
    color: #fff7f7;
    bottom: 0;
    width:100%;
    margin-left: 0;
    
}

.contexto{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    align-content: center;
}

.contexto h2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 35%;
    bottom: 50%;
}
  
#bannerProductos{
    opacity: 25%;
    width: 100%;
    height: 200px;
    margin-top:-20px;
    
}

#flecha{
    height: 20px;
    width: 15px;
    transition: .4s ease;
}

.rotar180{
    transform: rotate(180deg);
    transition: .4s ease;
}



.filtro{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 12px;
}


#boton1{
    width: 180px;
    height: 30px;
    font-size:18px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(19, 19, 18);
    background-color:rgb(153, 212, 244);
    border-radius: 10px;
    border: none;
    margin: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.contenido{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    align-content:center; */
}



.contenedor {
    display: flex;
    flex-direction: column;
   
    }

.fila {
    display: flex;
    width: 100%; /* Opcional: asegura que la fila ocupa todo el ancho disponible */
    flex: 1; /* Hace que la fila ocupe todo el espacio disponible verticalmente */
    justify-content: center;
    gap: 20px;
    padding: 40px 100px 10px 100px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    height: 80%;
    justify-content: center;
    gap: 55px;
    padding: 40px 20px; /* Ajuste de los márgenes */
    margin: auto;
}
.container .card{
    width:350px; /* Ajusta el ancho según tus preferencias */
    height: 450px; /* Ajusta el alto según tus preferencias */
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px; /* El margen de las tarjetas inferior para alejarlo del footer */ 
    margin-top: 20px;
    transition: all 0.5s;
    position: relative;
}

.container .card:hover{
    transform: scale( 1.15);
    box-shadow: 0 8px 16px rgb(52, 88, 186);
}

.card .letter {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 30px; /* Ajusta el tamaño de la letra según tus preferencias */
    font-weight: bold;
    color: white;
    background-color: #333; /* Puedes ajustar el color de fondo según tus preferencias */
    padding: 8px 16px; /* Ajusta el tamaño del cuadrado según tus preferencias */
    border-radius: 4px; /* Ajusta la redondez del cuadrado según tus preferencias */
    z-index: 1; /* Asegura que la letra esté encima de la imagen */
}

 .container .card img{
width: 100%;
height: 100%; /* Ajusta el porcentaje de altura según tus preferencias */
object-fit: cover; /* Evita que la imagen se deforme */
border-radius: 8px 8px 0 0; /* Bordes redondeados solo en la parte superior de la img de la tarjeta */
   
}
.container .card h4{
font-weight: 400;
padding: 8px;
color: black;
}
.container .card p{
    font-weight: 300;
}


.container .card a{
    text-decoration: none;
} 

/* filtros búsqueda productos */
.filtros{
    display: flex;
    justify-content: center;
    
}

.subdivision{
   background-color:rgb(45, 132, 252);
   text-align:center;
   margin: 20px;
   color: #fff7f7;
   border-radius: 5px;
   width: 200px;
}
.subdivision:hover {
    background-color: rgb(7, 85, 168);
}