    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }
    
    
    
    .menu-container{
        display: flex;
        flex-wrap:wrap;
        align-content:end;
        justify-content: center;
        width: 100%;
        
    }
/* REVISAAAAR */
    .header{
        display: flex;
        justify-content: center;
    }


    .logo{
        display: flex;
        justify-content: space-evenly;
    }
    
  

    .footer{
        background-color:rgb(52, 88, 186);
		color: #fff7f7;
        bottom: 0;
        width:100%;
        position: relative;
        
    }

    .contexto{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        position: relative;
        align-content: center;
    }

    .contexto h2{
        font-family: 'Times New Roman', Times, serif;
        color: rgb(0, 0, 0);
        position: absolute;
        top: 35%;
        bottom: 50%;
    }
      
    #bannerProductos{
        opacity: 25%;
        width: 100%;
        margin-top:-20px;
        
    }

    #flecha{
        height: 20px;
        width: 15px;
        transition: .4s ease;
    }

    .rotar180{
        transform: rotate(180deg);
        transition: .4s ease;
    }

 

    .filtro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12px;
    }
   
    
    #boton1{
        width: 180px;
        height: 30px;
        font-size:18px;
        font-family:'Times New Roman', Times, serif;
        color: rgb(19, 19, 18);
        background-color:rgb(153, 212, 244);
        border-radius: 10px;
        border: none;
        margin: 8px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

   
    .contenido{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        flex-wrap: wrap;
        align-content:center; */
    }
    

    
    .contenedor {
        display: flex;
        flex-direction: column;
       
        }

    .fila {
        display: flex;
        width: 100%; /* Opcional: asegura que la fila ocupa todo el ancho disponible */
        flex: 1; /* Hace que la fila ocupe todo el espacio disponible verticalmente */
        justify-content: center;
        gap: 20px;
        padding: 40px 100px 10px 100px;
    }
   .container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
        height: 80%;
        justify-content: center;
        gap: 20px;
        padding: 40px 100px 10px 100px;
        margin: auto;
    }
    .container .card{
        width: 42%;
        height: 42%;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        text-align: center;
        overflow: hidden;
        margin: 30px;
        transition: all 0.5s;
       
       


    }
    .container .card:hover{
        transform: scale( 1.15);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
     .container .card img{
        width: 100%;
        height: 100%;
       
    }
    .container .card h4{
        font-weight: 400;
        padding: 8px;
    }
    .container .card p{
        font-weight: 300;
    }
    

    .container .card a{
        text-decoration: none;
    } 

    /* filtros búsqueda productos */
    .filtros{
        display: flex;
        justify-content: center;
        
    }

    #subdivision{
       background-color:rgb(45, 132, 252);
       text-align:center;
       margin: 20px;
       color: #fff7f7;
       border-radius: 5px;
       width: 200px;
    }
    #subdivision:hover {
        background-color: rgb(7, 85, 168);
    }
    /* PRODUCTOS A */
    .section{
        margin: 0 40px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .section h1{
          color:#636363 ;
        }
        
        .tab{
            position: relative;
            background-color: #ffffff;
            padding: 0 20px 20px;
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            overflow: hidden;
        }
           .tab input{
                appearance:none;
           }
                &:checked{
                    ~{
                        label{
                            &::after{
                                content: '+';
                                color: aqua;
                                transform: rotate(135deg);
                            }
                                h2{
                                    position: absolute;
                                    top: 0;
                                    left: o;
                                    width: 100%;
                                    height: 100%;
                                    font-size: 8em;
                                    justify-content: flex-end;
                                    padding: 20px;
                            } 
                        }
                    }
                }
            
            
    
      
     